@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600,600i,700&display=swap");

body {
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  outline: none;
  background-image: url("https://images.pexels.com/photos/6186504/pexels-photo-6186504.jpeg?auto=compress&cs=tinysrgb&w=600");
  background-size: cover;
}

.container {
  width: 90%;
  margin: 1em auto;
  background-color: rgba(23, 24, 24, 0.9);
  padding: 1em;
  border-radius: 10px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 1em;
  justify-content: center;
}

.card {
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  border-radius: 10px;
}

.card:hover {
  transform: scale(1.02);
  transition: transform 0.3s ease;
}

.card-body {
  padding: 1em;
}

.card-img-top {
  border-radius: 10px 10px 0 0;
}

.btn-dark {
  background-color: #343a40;
  border-color: #343a40;
}

.btn-dark:hover {
  background-color: #1d2124;
  border-color: #1d2124;
}

h2 {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 0.5em;
  border-radius: 5px;
  color: #343a40;
}

.modal-header {
  background-color: #343a40;
  color: white;
  border-bottom: none;
}

.modal-footer {
  border-top: none;
}

.modal-body {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 1em;
  border-radius: 10px;
}

.form-control {
  background-color: rgba(255, 255, 255, 0.8);
  color: #343a40;
}

.navbar {
  background-color: #343a40;
}

.navbar-dark .navbar-toggler-icon {
  background-color: #ffffff;
}

.navbar-brand,
.navbar-nav .nav-link {
  color: #ffffff !important;
}

.navbar-toggler-icon {
  background-color: #ffffff;
}

